<app-menu-app></app-menu-app>
<div class="wrapper">
  <div class="all-content-order">
    <br>
    <br>
    <br>
    <br>
    <div class="coach-header">
      <div class="btn-back-order">
        <a class="btn btn-outline-secondary" routerLink="/trainings"> <i class="fas fa-chevron-left"></i>
          назад</a>
      </div>
      <br>
      <div class="white_bg">
        <main>
          <ng-progress></ng-progress>
          <div *ngIf="doneOrder" class="alert-order-success">
            <p> Спасибо, мы свяжится с вам в ближайшее время.</p>
          </div>
          <div *ngIf="done" class="order-checkout">
            <div class="text-checkout">
              <h1>Оформление заявки</h1>
            </div>


            <form name="form"  [formGroup]="orderForm" (ngSubmit)="submitOrderSave()" novalidate>
              <div class="contecnt-checkout">
                <br>
                <div class="trener-checkout">
                  <p>Тренеры</p>
                  <br>

                  <div *ngFor="let data of trainersCheckbox">
                    <label class="container">{{data.value.name}} {{data.value.surname}}
                      <input name="trainers" type="checkbox"
                             (change)="onChange(data.value.name, data.value.surname,  $event.target.checked)">
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <br>
                  <div class="description-choice">
                    <p>* Выберите желаемого тренера или оставите ячейки пустыми</p>
                  </div>
                </div>




                <div class="calendar-checkout">
                  <p>Дата и выбор тренига</p>
                  <div class="block-order-group">


                    <div class="input-group">
                      <input formControlName="date" id="end-event" class="form-control"
                             placeholder="yyyy-mm-dd" title="dateEvent"
                             name="end" ngbDatepicker
                             #e="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button"><i
                          class="far fa-calendar-alt"></i></button>
                      </div>
                    </div>
                    <div class="error-input" *ngIf="isSubmitted && f.date.errors">
                      <div *ngIf="f.date.errors.required"><span>* заполни поле </span></div>
                    </div>
                    <div class="error-input" *ngIf="orderError">
                      <span>{{orderError.date}}</span>
                    </div>


                    <select formControlName="training" name="training" title="select">
                      <option>--</option>
                      <option class="select-input" id="training" name="training"
                              *ngFor="let training of trainings">
                        {{training.name}}
                      </option>
                    </select>
                    <div class="label-training">
                      <p>Тренинги</p>
                    </div>
                    <div class="error-input" *ngIf="isSubmitted && f.training.errors">
                      <div *ngIf="f.training.errors.required">
                        <span>* заполни поле </span>
                      </div>
                    </div>
                    <div class="error-input" *ngIf="orderError">
                      <span>{{orderError.training}}</span>
                    </div>


                    <input formControlName="country" class="input" name="country" type="text"
                           placeholder="страна">
                    <div class="error-input" *ngIf="isSubmitted && f.country.errors">
                      <div *ngIf="f.country.errors.required">
                        <span>* заполни поле </span>
                      </div>
                    </div>
                    <div class="error-input" *ngIf="orderError">
                      <span>{{orderError.country}}</span>
                    </div>


                    <input formControlName="city" class="input" name="city" type="text"
                           placeholder="город проведения тренинга">
                    <div class="error-input" *ngIf="isSubmitted && f.city.errors">
                      <div *ngIf="f.city.errors.required">
                        <span>* заполни поле </span>
                      </div>
                    </div>
                    <div class="error-input" *ngIf="orderError">
                      <span>{{orderError.city}}</span>
                    </div>


                    <input formControlName="company" class="input" type="text" name="company"
                           placeholder="назавние компании ">
                    <div class="error-input"  *ngIf="isSubmitted && f.company.errors">
                      <div *ngIf="f.company.errors.required">
                        <span>* заполни поле </span>
                      </div>
                    </div>
                    <div class="error-input" *ngIf="orderError">
                      <span>{{orderError.company}}</span>
                    </div>


                    <input formControlName="nameSurname" class="input" type="text" name="nameSurname"
                           placeholder="имя, фамилия ">
                    <div class="error-input" *ngIf="isSubmitted && f.nameSurname.errors">
                      <div *ngIf="f.nameSurname.errors.required">
                        <span>* заполни поле </span>
                      </div>
                    </div>
                    <div class="error-input" *ngIf="orderError">
                      <span>{{orderError.nameSurname}}</span>
                    </div>


                    <input formControlName="phone" class="input" type="text" name="phone"
                           placeholder="номер телефона ">
                    <div class="error-input" *ngIf="isSubmitted && f.phone.errors">
                      <div *ngIf="f.phone.errors.required">
                        <span>* заполни поле </span>
                      </div>
                    </div>
                    <div class="error-input" *ngIf="orderError">
                      <span>{{orderError.phone}}</span>
                    </div>


                    <input formControlName="email" class="input" type="email" name="email"
                           placeholder="email">
                    <div class="error-input" *ngIf="isSubmitted && f.email.errors">
                      <div *ngIf="f.email.errors.required">
                        <span>* заполни поле </span>
                      </div>
                      <div *ngIf="f.email.errors.email">
                        <span>* поле не формата email </span>
                      </div>
                    </div>
                    <div class="error-input" *ngIf="orderError">
                      <span>{{orderError.email}}</span>
                    </div>


                    <textarea formControlName="description" class="textarea-form" type="text"
                              name="description"
                              placeholder="дополнительная информация...."></textarea>
                    <div class="error-input" *ngIf="isSubmitted && f.description.errors">

                      <div *ngIf="f.description.errors.maxlength">
                        <span>* не больше 1025 символа </span>
                      </div>
                    </div>
                    <div class="error-input" *ngIf="orderError">
                      <span>{{orderError.description}}</span>
                    </div>


                  </div>
                  <div class="btn-order">
                    <button class="btn-ok" type="submit">Отправить заказ
                    </button>
                  </div>
                </div>
              </div>

            </form>
            <br>
          </div>
          <hr class="hr-line-down">

        </main>
      </div>
    </div>
  </div>
</div>
