<div class="wrapper">
  <div class="developing-page">

    <div class="all-content">
      <div *ngIf="isProgress==true">
        <div>
          <app-loader></app-loader>
        </div>
      </div>

      <div *ngIf="isProgress == false">
        <div *ngIf="isList == true">
          <div class="alert alert-primary" role="alert">
            Нет залов !
          </div>
        </div>
        <br>
        <br>
        <div *ngIf="isList == false">
            <div class="room-show-content" *ngFor="let elem of room; let i=index">

              <div class="img-show">
                <img [src]="'data:image/jpg;base64,' +room[i].photoRoom[0].photo" alt="Random first slide">
                <span class="bl-1"> Вместимость: <span> {{room[i].roomCapacity}} человек </span></span>

                <div class="bl-text">
                  <span>Цена: </span>
                </div>
                <div *ngFor="let elem2 of room[i].priseRoom" class="currency-room">
                  <p>Час/ <span>{{elem2.priceHour}} {{elem2.currency}}</span></p>
                  <p>День/ <span>{{elem2.priceDay}} {{elem2.currency}}</span></p>
                </div>
              </div>

              <div class="info-room-show">
                <p> {{elem.nameRoom}}</p>
                <div class="editor-show-room">
                  <angular-editor id="myEditor" [(ngModel)]="room[i].articleRoom[0].descriptionArticle"
                                  [config]="editorConfig"></angular-editor>
                </div>

                <div class="btn-buy-room">
                  <button routerLink="/room-rental/show/{{elem.id}}">Заказать</button>
                </div>
                <br>
                <div>
                  <hr>
                </div>
                <router-outlet></router-outlet>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
