@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1180px;
  }

  .wb-input {
    width: 80%;
  }
}

@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
  }

  .wb-input {
    width: 80%;
  }


}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 760px;
  }

  .wb-input {
    width: 90%;
  }
}
