.wrapper-admin {
  max-width: 1600px;
  min-width: 765px;
  margin: 0 auto;
}

.add-photo-content {
  position: static;
  height: auto;
  margin-left: 250px;
  margin-top: -608px;
}

.header-text-photo {
  text-align: left;
}

.header-text-photo p span {
  color: #179918;
  font-size: 15px;
  font-family: Exo2BoldItalic, sans-serif, serif;
}


/*********************************************************/

.show-photo-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.block-img {
  //flex-grow: 2;
  padding: 20px;
  width: 300px;
  height: auto;
}


.show-img {
  justify-content: space-between;
}

.show-img img {
  width: 100%;
  height: 80%;
}

/**********************/


.show-photo-clock div {
  display: flex;
  flex-direction: row;
}


.browse-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  //margin: 0.5rem;
  position: relative;
  width: 150px;
  height: 90px;
  border: 1px solid #ccc;
  text-align: center;
}


#cameraImg {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}


.delete-photo-room {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}

.btn-delete-room {
  width: 100px;
  height: 25px;
  background-color: #179918;
  border: 0;
  border-radius: 1px;
  color: #fbfbfb;
}

.btn-delete-room:hover {
  background-color: #09450a;
}

.btn-redirect-finish {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.btn {
  border-radius: 1px;
}
