@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1180px;
  }

  .all-content {
    margin-right: 50px;
    margin-left: 50px;
  }
}


@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
  }

  .training-info-block {
    width: 520px;
    height: auto;
  }


  .training-info-block img{
    width: 100%;
    height: 270px;
  }

}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 760px;
  }


  .industries-trainings h1 {
    font-size: 18px;
  }

  .industries-trainings p {
    font-size: 13px;
  }

  .industries-trainings h2 {
    font-size: 13px;
  }

  .training-info-block {
    width: 420px;
    height: auto;
  }



  .all-content {
    margin-right: 10px;
    margin-left: 10px;
  }


  .training-info-block img{
    width: 100%;
    height: 230px;
  }

}

@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 470px;
    font-size: 15px;
  }

  .all-content {
    margin-right: 8px;
    margin-left: 2px;
  }

  .industries-trainings h1 {
    font-size: 17px;
  }

  .industries-trainings p {
    font-size: 12px;
  }

  .industries-trainings h2 {
    font-size: 12px;
  }


  .training-info-block {
    width: 320px;
    height: auto;
  }


  .training-info-block img{
    width: 100%;
    height: 170px;
  }

}










