.wrapper-admin {
  max-width: 1600px;
  min-width: 765px;
  margin: 0 auto;
}

.block-trainings-edit {
  position: static;
  margin-left: 2%;
  height: auto;
  margin-top: -608px;

}

.editor-container {
  padding-left: 200px;
}


//-----------------  Header content ---------------------------------------//
.first-info {
  display: flex;
  flex-direction: row;
}

.img-training {
  display: flex;
  justify-content: center;
  width: 250px;
  height: auto;
  //background: #380505
}

.photo img {
  width: 100%;
  height: 130px;
}

.br-com {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


//--------------Save Button---------------------

input[type="file"] {
  display: none;
}

.custom-file-upload {
  width: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 1px;
}

.custom-file-upload:hover {
  background-color: #e1e1e1;
}

.change-btn-trainings span {
  padding-left: 15px;
}

.change-btn-trainings i {
  color: #005cbf;
}

.btn-save-photo {
  padding-bottom: 10px;
}

.btn-save-photo .btn {
  width: 100%;
  padding: 6px 12.5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 17px;
  cursor: pointer;
  border-radius: 1px;
  box-shadow: 0 2px 8px rgba(28, 15, 25, 0.1);

}

/************************************/
.pdf {
  padding-left: 15px;
}

.pdf i {
  color: #cd0a0a;
}

.pdf span {
  padding-left: 15px;
}

/*****************************  Article **************************************/
.update-article {
  padding-bottom: 10px;
}

.update-article button {
  text-align: left;
  padding-left: 15px;
}

.update-article i {
  font-size: 18px;
  color: #380505;
}

.update-article span {
  font-size: 16px;

}

.btn-ar {
  width: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 1px;

}

.btn-ar:hover {
  background-color: #e1e1e1;

}

.input-info {
  display: flex;
  flex-direction: column;
  width: 98%;
}

.block-input {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.block-input input {
  width: 80%;
  height: 25px;
  border-radius: 3px;
  text-indent: 0.8em;
  border: 1px solid #575757;
  font-size: 12px;
}

.block-input input:focus {
  border: 1px solid #575757;
  box-shadow: 0 2px 8px rgba(28, 15, 25, 0.2);
}

.block-input textarea {
  width: 80%;
  height: 84px;
  border-radius: 3px;
  border: 1px solid #575757;
  font-size: 12px;
  padding: 10px;
  font-family: Exo2Regular, serif;
}

.block-input textarea:focus {
  border: 1px solid #575757;
  box-shadow: 0 2px 8px rgba(28, 15, 25, 0.2);
}


.group {
  display: flex;
  justify-content: flex-end;
  width: 79%;
  //margin-left: 20px;
  margin-top: -5px;
}

.group button {
  width: 155px;
}

.block-group {
  display: block;
  width: 220px;
  height: auto;
  padding: 20px;
  background-color: #dbdbdb;
  margin-top: -16px;
}

.editor {
  display: flex;

}

//.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
//  color: #fff;
//  background-color: #b2b2b2;
//
//}
//
//.nav-pills .nav-link {
//  text-align: left;
//  width: 160px;
//}
//
//a {
//  color: #524343;
//  text-decoration: none;
//  background-color: transparent;
//  font-size: 12px;
//}
//
