@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1180px;
  }
  .block-order {
    margin-left: 160px;
  }
  tr th p {
    font-size: 10px;
  }
  .table tr td {
    padding: 8px;
  }

}

@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
  }
  //tr td {
  //  font-size: 10px;
  //}
  .mob{
    font-size: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 760px;
  }
  .mob{
    font-size: 6px;
  }

}
