@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1180px;
  }
  .block-order {
    margin-left: 160px;
  }
  tbody tr td {
    font-size: 10px;
  }


}

@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
  }

}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 760px;
  }


}
