<app-admin-webinars></app-admin-webinars>

<div class="wrapper-admin">
  <ng-progress></ng-progress>
  <div class="row">
    <div class="block-webinars">

      <div>
        <table>
          <thead>
          <tr>
            <th class="table-title d-inline-block col-7 text-table-header" scope="col"><p>name</p></th>
            <th class="table-title d-inline-block col-5 text-table-header" scope="col"><p class="options">options</p>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let elem of webinars | paginate: {itemsPerPage:8, currentPage: p}">
            <td class="d-inline-block col-7 text-table-header" title="{{elem.name}}">{{elem.name}}</td>
            <td class="d-inline-block col-5 text-table-header">
              <i class="far fa-edit edit" title="edit" (click)="onClickEdit(elem.id)"></i>
              <i class="far fa-trash-alt delete" title="delete" (click)="openDeleteWindow(modalRemoveWebinars)"></i>
            </td>

            <!---------------------------- DELETE Trainers ----------------------------------------------->
            <ng-template #modalRemoveWebinars let-modal>
              <div class="modal-body text-center">
                <p style="color: #151230">Do you want to delete?</p>
                <button type="button" class="btn-delete"  (click)="removeWebinar(elem.id)">Yes</button>
                <button type="button" class="btn-exit" (click)="modal.dismiss('Cross click')">Exit</button>
              </div>
            </ng-template>
          </tr>

          </tbody>
        </table>
        <div class="clock-pagination-button">
          <div>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>
          </div>
          <div>
            <button type="button" routerLink="/admin/webinars/webinar-add" class="btn btn-info btn-sm"><i
              class="fab fa-creative-commons-remix"></i> Create webinar
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

