@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1180px;
  }

  .all-content-order {
    margin-right: 50px;
    margin-left: 50px;
  }


}

@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
  }

  .all-content-order {
    margin-right: 10px;
    margin-left: 10px;
  }


  .container {
    padding-left: 15%;
    font-size: 11px;
  }

  .input-group{
    width: 80%;
    margin: 10px 10px 10px 55px;
  }

  .input {
    margin: 10px 10px 10px 55px;
  }
  .block-order-group select {
    margin: 10px 10px 10px 55px;
  }
  .label-training {

    margin: -10px 0 0 55px;
  }

  .label-training p {
    font-size: 10px;
  }
  .textarea-form {
    margin: 10px 10px 10px 55px;
  }


  .error-input {
    width: 70%;
    margin: -8px 0 0 65px;
  }

  .btn-ok {
    margin: 10px 10px 10px 55px;
  }

}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 760px;
  }

  .alert-order-success p {
    font-size: 15px;
  }
  .container {
    padding-left: 9%;
    font-size: 13px;
  }

  .text-checkout {
    font-size: 25px;
  }

  .contecnt-checkout {
    display: flex;
    flex-direction: column;
  }

  .trener-checkout {
    width: 100%;
    font-size: 25px;
  }

  .checkmark {
    top: 5px;
  }
  .calendar-checkout p {
    font-size: 25px;
  }

  .calendar-checkout {
    width: 100%;
    margin-top: 45px;
  }
  .form-control-input-data {
    width: 70%;
  }
  .block-order-group {
    display: flex;
    flex-direction: column;
  }

  .input-group{
    width: 80%;
    margin: 10px auto 0;
  }

  .input {
    width: 80%;
    margin: 10px auto 0;
  }

  .block-order-group select {
    width: 80%;
    margin: 10px auto 0;

  }
  .label-training {
    margin: 10px 0 0 10%;
  }
  .label-training p {
    font-size: 10px;
  }

  .textarea-form {
    width: 80%;
    margin: 10px auto 0;
  }


  .error-input {
    width: 50%;
    margin: 10px 0 0 10%;
  }
  .error-input span {
    color: #a01809;
    font-size: 8px;
    font-family: KIA_KIAM, serif;
    font-weight: bold;
  }

  .btn-ok {
    //margin: 10px 10px 10px 55px
    margin: 0 auto;
  }


}

@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 470px;
    font-size: 15px;
  }

  .alert-order-success {
    border-radius: 0;
  }

  .alert-order-success p {
    font-size: 13px;
  }

  .text-checkout {
    font-size: 15px;
  }
  .container {
    padding-left: 18%;
    font-size: 13px;
  }

  .input {
    width: 100%;

  }

  .textarea-form {
    width: 100%;
  }

  .block-order-group select {
    width: 100%;
  }

  .block-order-group select {
    font-size: 18px;
    text-indent: 0.5em;
  }
  .error-input {
    width: 50%;
    margin: 10px 0 0 1%;
  }

  .btn-ok {
    width: 100%;
    //margin: 10px 10px 10px 55px
    //margin: 0 auto;
  }
}











