<app-admin-trainings></app-admin-trainings>
<div class="wrapper-admin">

  <ng-progress></ng-progress>
  <div *ngIf="article" class="block-trainings-article-edit">
    <div class="text-header-article">
      <p>
        Edit article training: <span>{{ article.trainings.name}}</span>
      </p>
    </div>

    <div class="editor">
      <form name="form" [formGroup]="formGroup" (ngSubmit)="onClickUpdate()" novalidate>

        <angular-editor formControlName="description" [(ngModel)]="article.description"
                        [config]="editorConfig"></angular-editor>
        <div class="error-input" *ngIf="isSubmitted && f.description.errors">
          <div *ngIf="f.description.errors.required">
            <span>* заполни поле </span>
          </div>
        </div>


        <div class="html">
        </div>
        <br>
        <div class="group">
          <button class="btn btn-back-training" type="submit" (click)="back()"> <i class="fas fa-chevron-left"></i>Back</button>
          <button class="btn btn-info" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
