
.all-content {
  margin-right: 120px;
  margin-left: 120px;
}

.room-show-content {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.img-show {
  width: 400px;
  height: 250px;
}

.img-show img {
  width: 400px;
  height: 250px;
}

.img-show .bl-1 {
  color: #991014;
  font-size: 14px;
  font-family: Exo2ExtraBold, serif;
}

.bl-text {
  padding-top: 10px;
}

.bl-text span {
  font-family: Exo2ExtraBold, serif;
}

.currency-room {
  width: 100%;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 2px;
  text-align: center;
  color: #179918;

}

.currency-room p {
  margin: -5px;
}

.currency-room span {
  font-family: Exo2ExtraBold, serif;
  font-size: 16px;
}



.info-room-show {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 85%;
}

.info-room-show p {
  margin-left: 0;
  font-size: 18px;
  font-family: Exo2ExtraBold, serif;
}

.editor-show-room {
  margin-bottom: 50px;
}

:host ::ng-deep #myEditor {
  .angular-editor-textarea {
    border: none;
  }


  .angular-editor-wrapper .angular-editor-textarea blockquote {
    margin: 0 0 0 0 !important;
  }

  #editor {
    resize: none;
  }

  .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    padding: 0 !important;
  }
}


.btn-buy-room {
  display: flex;
  justify-content: flex-end;
}

.btn-buy-room button {
  width: 400px;
  height: 45px;
  size: 20px;
  border: 0;
  font-size: 20px;
  color: #f3f3f3;
  background-color: #717171;
  box-shadow: 0 2px 2px rgba(28, 15, 25, 0.3);
}
