.login {
  display: flex;
  justify-content: center;
}

.content-login {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.form-group label {
  font-size: 12px;
}

.error-login {
  font-size: 12px;
  color: #cd0a0a;
}
.error-message{

  font-size: 10px;
}
