<div class="menu-animation">
  <div class="logo-animation"
    [ngStyle]="{'background-image': 'url('+'/assets/img/logo2.png'+ ')'}"></div>
  <nav class="animation-menu">
    <ul class="animation-ul">
      <li class="animation-li"><a routerLink="" routerLinkActive="selected">HOME</a></li>
      <li class="animation-li"><a routerLink="/trainings" routerLinkActive="selected">ТРЕНИНГИ</a></li>
      <li class="animation-li"><a routerLink="/trainings/coach" routerLinkActive="selected">ТРЕНЕРЫ</a></li>
      <li class="animation-li"><a routerLink="/webinars" routerLinkActive="selected">ВЕБИНАРЫ</a></li>
      <li class="animation-li"><a routerLink="/schedule" routerLinkActive="selected">РАСПИСАНИЕ</a></li>
      <li class="animation-li"><a routerLink="/room-rental" routerLinkActive="selected">АРЕНДА ЗАЛОВ</a></li>
      <li class="animation-li"><a routerLink="/recommendations" routerLinkActive="selected">РЕКОМЕНДАЦИИ</a></li>
    </ul>
  </nav>
</div>

