.wrapper-admin {
  max-width: 1600px;
  min-width: 765px;
  margin: 0 auto;
}

.content-schedule{
  display: flex;
  justify-content: center;
}


.bock-schedule {
  padding: 100px;
}

.content-schedule p {
  color: #380505;
  font-size: 15px;
}


