.all-content {
  margin-right: 120px;
  margin-left: 120px;
}

.content-room-info {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.carousel-room-photo {
  width: 70%;
  height: 20%;
}

.text-info-room {
  width: 100%;
  height: auto;
  padding-left: 20px;
}

.text-info-room h1 {
  font-size: 19px;
  color: #2639bf;
  font-family: Exo2ExtraBold, serif;
}

.content-room-info img {
  width: 500px;
  height: 320px;
}

/************* info right *************/

.header-room {
  display: flex;
  flex-direction: column;
}

.price-room {
  display: flex;
  justify-content: space-between;
}

.bl-room {
  width: 50%;
  padding: 10px;
  background-color: #147d67;
  border-radius: 2px;
  text-align: center;
  color: #f4f4f4;
}

.bl-room p {
  margin: -5px;
}

.bl-room span {
  font-family: Exo2ExtraBold, serif;
  font-size: 16px;
}

.input-group {
  padding-bottom: 20px;
}


.input-group label {
  width: 20%;
  padding-top: 10px;
  padding-right: 2%;
  font-size: 12px;
}

.input-group input {
  width: 70%;
  height: 40px;
  border-radius: 1px;
  border: 1px solid #949494;
  text-indent: 0.2em;
  font-size: 13px;
}

.input-group select {
  width: 80%;
  height: 35px;
  border-radius: 1px;
  text-indent: 0.6em;
  border: 1px solid #949494;
  margin-left: -1px;
  font-size: 13px;
  color: #7a7a7a;
}


/*************  editor content  ******/
.description-info-room {
  padding-top: 20px;
  //border: 1px solid #b6b6b6;
}

:host ::ng-deep #myEditor {
  .angular-editor-textarea {
    border: none;
  }


  .angular-editor-wrapper .angular-editor-textarea blockquote {
    margin: 0 0 0 0 !important;
  }

  #editor {
    resize: none;
  }

  .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    padding: 0 !important;
  }
}


/**************************  Select time order ****************************************/


.select-time-order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //padding-left: 20%;
}

.select-time-order .chose-text {
  width: 100%;
  padding-top: 10px;
  padding-right: 2%;
  font-size: 12px;
}

.time-order {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-left: 20%;

}

.container {
  width: 110px;
  font-family: Exo2Regular, serif;
  display: block;
  position: relative;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox */
.checkmark {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
  width: 110px;
  margin-top: -6px;
  background-color: #f4f4f4;
  border: 1px solid #6f6f6f;
}
.checkmark:hover{
  background-color: #eaeaea;
}

.container input:checked ~ div .checkmark {
  background-color: #147d67;
}


.btn-select {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.btn-select button {
  border: 0;
  border-radius: 1px;
  color: #f4f4f4;
}

.error-time {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.error-time div {
  width: 100%;
}

.btn-select .btn-back {
  width: 100px;
  height: 35px;
  background-color: #717171;
}

.btn-select .btn-go {
  width: 250px;
  height: 35px;
  background-color: #5b84c9;
  //background-color: #717171;
  box-shadow: 0 2px 2px rgba(28, 15, 25, 0.3);

}

.btn-select .btn-go:hover {
  background-color: #6595e3;
}
