<app-admin-trainings></app-admin-trainings>


<div class="wrapper-admin">
  <ng-progress></ng-progress>
  <div class="row">
    <div class="block-trainings">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th class="d-inline-block col-8 text-table-header" scope="col"><p>name</p></th>
          <th class="d-inline-block col-4 text-table-header" scope="col"><p class="options">options</p></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let elem of trainers | paginate: {itemsPerPage:10, currentPage: p}">
          <td class="d-inline-block col-8 text-table">{{elem.name}} {{elem.surname}}</td>
          <td class="d-inline-block col-4 text-table">
            <div class="btn group">
              <button (click)="onClick(elem)" class="badge badge-danger btn-sm"><i class="fas fa-user-edit"></i> Edit
              </button>
              <button (click)="openModal(template)" class="badge badge-secondary btn-sm"><i
                class="fas fa-user-times"></i> Delete
              </button>
            </div>
          </td>
          <ng-template #template >
            <div class="modal-body text-center">
              <p style="color: #151230">Do you want to delete?</p>
              <button type="button" class="btn-delete" (click)="confirm(elem.id)">Yes</button>
              <button type="button" class="btn-exit" (click)="decline()">Exit</button>
            </div>
          </ng-template>
        </tr>
        </tbody>
      </table>
      <div *ngIf="boolPagination">
        <pagination-controls (pageChange)="p =$event"></pagination-controls>
      </div>
      <div class="add-training">
        <button type="button" routerLink="/admin/trainings/trainers-add" class=" btn btn-info"><i
          class="fas fa-address-book"></i> Add trainer
        </button>
      </div>
    </div>
  </div>
</div>
