<app-admin-trainings></app-admin-trainings>


<div class="wrapper-admin">
  <ng-progress></ng-progress>
  <div class="row">
    <div class="block-trainings">

      <div>
        <table>
          <thead>
          <tr>
            <th class="table-title d-inline-block col-7 text-table-header" scope="col"><p>name</p></th>
            <th class="table-title d-inline-block col-5 text-table-header" scope="col"><p class="options">options</p></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let elem of trainers | paginate: {itemsPerPage:8, currentPage: p}">
            <td class="d-inline-block col-7 text-table-header">{{elem.name}} {{elem.surname}}</td>
            <td class="d-inline-block col-5 text-table-header">
              <i class="fas fa-user-edit edit" (click)="onClick(elem)"></i>
              <i class="far fa-trash-alt delete" (click)="openModal(template)"></i>
            </td>

            <!------------------------------ DELETE  Trainers ------------------------------------------------->
            <ng-template #template>
              <div class="modal-body text-center">
                <p style="color: #151230">Do you want to delete?</p>
                <button type="button" class="btn-delete" (click)="confirm(elem.id)">Yes</button>
                <button type="button" class="btn-exit" (click)="decline()">Exit</button>
              </div>
            </ng-template>
          </tr>

          </tbody>
        </table>
        <div class="clock-pagination-button">
          <div>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>
          </div>
          <div>
            <button type="button" routerLink="/admin/trainings/trainers-add" class="btn btn-info btn-sm"><i
              class="fas fa-address-book"></i> Add trainer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
