.all-content {
  margin-right: 130px;
  margin-left: 130px;
}

//-------------------  Btn back----------------------------//
.btn-back {
  padding-bottom: 20px;
}

.btn {
  border-radius: 0;
}

//--------------------------------------------------------//

.white_bg {
  background-color: white;
}

.bl-block {
  display: flex;
  flex-direction: column;
}
