<app-admin-trainings></app-admin-trainings>

<div class="wrapper-admin">
  <ng-progress></ng-progress>
  <div *ngIf="order" class="view-order">
    <table>
      <thead>
      <tr>
        <th colspan="2" class="header-table">Order training</th>
      </tr>
      <tr>
        <th colspan="2" class="time"><i class="fas fa-pen"></i> create order: {{order.time | date:'dd-MM-yyyy(HH:mm)'}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="d-inline-block col-3">order</td>
        <td class="d-inline-block col-9"># {{order.id}}</td>
      </tr>
      <tr>
        <td class="d-inline-block col-3">Training</td>
        <td class="d-inline-block col-9">{{order.training}}</td>
      </tr>
      <tr>
        <td class="d-inline-block col-3">Country and city</td>
        <td class="d-inline-block col-9">{{order.country}} {{order.city}}</td>
      </tr>
      <tr>
        <td class="d-inline-block col-3">Name desired coach(s)</td>
        <td class="d-inline-block col-9">{{order.orderTrainers}}</td>
      </tr>
      <tr>
        <td class="d-inline-block col-3">Training time </td>
        <td class="d-inline-block col-9">{{order.date}}</td>
      </tr>
      <tr>
        <td class="d-inline-block col-3">Name company</td>
        <td class="d-inline-block col-9">{{order.company}}</td>
      </tr>
      <tr>
        <td class="d-inline-block col-3">Client name</td>
        <td class="d-inline-block col-9">{{order.nameSurname}}</td>
      </tr>
      <tr>
        <td class="d-inline-block col-3">Client phone</td>
        <td class="d-inline-block col-9">{{order.phone}}</td>
      </tr>
      <tr>
        <td class="d-inline-block col-3">Client email</td>
        <td class="d-inline-block col-9">{{order.email}}</td>
      </tr>
      <tr>
        <td class="d-inline-block col-3">Description</td>
        <td class="d-inline-block col-9">{{order.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
