



.block-coach-show-trainer {
  margin-left: 270px;
  margin-top: 35px;
  padding-right: 30px;
}


.coach-header {
  display: flex;
  flex-direction: row;
  position: static;
  height: auto;
}

.coach-img {
  width: 150px;
}

.coach-img img {
  width: 150px;
  border-radius: 5px;
}

.coach-name {
  padding: 10px;
}

.name-surname-coach {
  margin-left: 20px;
}

.coach-name .name-surname-coach {
  font-size: 20px;
  font-weight: bold;
  color: #23344d;
}

.coach-name p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: justify;
}

.line {
  border-left: 2px solid #ccc;
  margin-left: 10px;
  padding-left: 10px;

}

.element .style {
  margin: 0 0 0 0;
}

:host ::ng-deep #myEditor {
  .angular-editor-textarea {
    border: none;
    //padding: .0rem -2.8rem -11rem;
    //text-indent: -0.5em;
  }


  .angular-editor-wrapper .angular-editor-textarea blockquote {
    margin: 0 0 0 0 !important;
  }

  #editor {
    resize: none;
  }
}

