<div class="wrapper-admin">
  <nav class="navbar navbar-light bg-light">
    <a routerLink="" class="navbar-brand" href="#">
      <img src="/assets/img/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class="ctc">Ctcontact</span><span class="admin">admin panel</span>
    </a>
    <button class="btn btn-secondary btn-sm" (click)="logout()">logout <i class="fas fa-sign-out-alt"></i></button>
  </nav>
  <div>
    <nav class="dws-menu">
      <ul class="dws-ul">
        <li class="dws-li"><a routerLink="/admin" routerLinkActive="selected">HOME</a></li>
        <li class="dws-li"><a routerLink="/admin/trainings" routerLinkActive="selected">Трененги</a></li>
        <li class="dws-li"><a routerLink="/admin/webinars" routerLinkActive="selected">Вебинары</a></li>
        <li class="dws-li"><a routerLink="/admin/trainings/data-calendar" routerLinkActive="selected">Расписание</a></li>
        <li class="dws-li"><a routerLink="/admin/blog" routerLinkActive="selected">Блог</a></li>
        <li class="dws-li"><a routerLink="/admin/room-rental" routerLinkActive="selected">Аренда Залов</a></li>
        <li class="dws-li"><a routerLink="/admin/recommendations" routerLinkActive="selected">Рекомендации</a></li>
      </ul>
    </nav>
  </div>

</div>
<br>
<router-outlet></router-outlet>
