.wrapper-admin {
  max-width: 1600px;
  min-width: 765px;
  margin: 0 auto;
}
nav span.ctc{
  color: #b69e74;
  font-family: Exo2Regular, serif;
  padding-left: 20px;
}

nav span.admin{
  font-size: 15px;
  font-weight: bold;
  color: #4a3a3e;
  padding-left: 5px;
  font-family: Exo2Regular, serif;
}

.navbar button {
  margin-right: 40px;
}


.dws-menu {
  position: relative;
  width: 100%;
  left: -10px;
  right: 14.4%;
  height: 48px;
  margin-bottom: -0.1%;
  padding-top: 8px;

}

ul.dws-ul {
  display: flex;
  justify-content: flex-end;
}

li.dws-li {
  list-style: none;
  padding: 3px 2px;
  border-radius: 4px;
}

li.dws-li a {
  font-family: Exo2Regular, serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  color: #717171;
  position: relative;
  margin: 2px 5px;
  top: -1px;
}

li.dws-li:hover {
  background-color: #F2F2F2;

}

li.dws-li a:hover {
  color: #565656;
}

li.dws-li a::before {
  content: '';
  width: 0;
  height: 5px;
  background-color: #353694;
  box-shadow: 0 3px 6px rgba(251, 251, 251, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  transition: .5s;

}

li.dws-li a::after {
  content: '';
  width: 0;
  height: 1px;
  background-color: #353694;
  box-shadow: 0 3px 6px rgba(251, 251, 251, 0.9);
  position: absolute;
  top: 100%;
  right: 0;
}
