<app-admin-blog></app-admin-blog>

<div class="wrapper-admin">
  <div class="content-blog-edit">
    <div class="edit-bl">
      <div class="b-block-edit">
        <div class="b-photo-edit">

          <div class="b-img">
            <img [src]="imageToShow" alt="photo">
          </div>

          <div *ngIf="idChoosePhoto" class="change-btn-webinar">
            <label for="file-update" class="custom-file-upload">
              <i class="fas fa-cloud-upload-alt"></i> Update photo
            </label>
            <input id="file-update" type="file" (change)="onFileSelectorUpdate($event)">
          </div>

          <div class="change-btn-webinar" *ngIf="idUpdatePhoto">
            <button type="button" class=" custom-file-save btn btn-info btn-sm" (click)="onUpdate()"><i
              class="fas fa-check-circle"></i><span style="margin-left: 10px">Save photo</span>
            </button>
          </div>


          <div>
            <div *ngIf="progressBar" class="progress-bar-upload">
              <progress-bar [progress]="progress" [color]="'#488aff'">
              </progress-bar>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="blogModel" class="input-blog-edit">
        <div class="b-input-edit">
          <h3>Update blog</h3>
        </div>

        <form name="form" [formGroup]="blogForm" (ngSubmit)="updateBlog()" novalidate>
          <div>

            <div class="input-filed">
              <input formControlName="name" type="text" title="name" placeholder="name blog"
                     [value]="blogModel.name" [ngModel]="blogModel.name"
                     [ngClass]="{'is-invalid': isSubmitted && f.name.errors}">
              <div class="error-input" *ngIf="isSubmitted && f.name.errors">
                <div *ngIf="f.name.errors.required"><span>You must add an name blog.</span></div>
                <div *ngIf="f.name.errors.maxlength"><span> no more than 80 characters</span></div>
              </div>

            </div>


            <div class="input-filed">
              <input formControlName="theme" type="text" title="theme" placeholder="theme blog"
                     [value]="blogModel.theme" [ngModel]="blogModel.theme"
                     [ngClass]="{'is-invalid': isSubmitted && f.theme.errors}">
              <div class="error-input" *ngIf="isSubmitted && f.theme.errors">
                <div *ngIf="f.theme.errors.required"><span>You must add an theme blog.</span></div>
                <div *ngIf="f.theme.errors.maxlength"><span> no more than 100 characters</span></div>
              </div>
            </div>


            <div class="input-filed">
              <input formControlName="author" type="text" title="blog author" placeholder="blog author"
                     [value]="blogModel.author" [ngModel]="blogModel.author"
                     [ngClass]="{'is-invalid': isSubmitted && f.author.errors}">
              <div class="error-input" *ngIf="isSubmitted && f.author.errors">
                <div *ngIf="f.author.errors.required"><span>You must add an author blog.</span></div>
                <div *ngIf="f.author.errors.maxlength"><span> no more than 80 characters</span></div>
              </div>
            </div>


            <div class="input-filed">
              <div>
                <angular-editor formControlName="description" [ngModel]="blogModel.description"
                                [config]="editorConfig"></angular-editor>
              </div>
              <div class="error-input" *ngIf="isSubmitted && f.description.errors">
                <div *ngIf="f.description.errors.required"><span> You must add an description blog.</span></div>
              </div>
            </div>

            <div class="input-filed">
              <div class="b-btn">
                <button class="btn btn-secondary btn-sm">Update <i class="fas fa-angle-right"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

