<div class="wrapper">

  <br>


  <div *ngIf="isProgress==true">
    <div class="loading-content">
      <app-loader></app-loader>
    </div>
  </div>

  <div *ngIf="isProgress==false" class="all-content">
    <br>

    <div class="industries-trainings">
      <div *ngFor="let elem of inscriptions;">
        <h1>{{elem.paragraph}}</h1>
        <h2>{{elem.description}}</h2>
        <br>
      </div>
    </div>
    <br>
    <br>

    <div class="block-add-trainings">

      <div *ngFor="let training of trainings; let i = index">
        <a (click)="noClickTrainings(training.id)">
          <div class="training-info-block" *ngFor="let elem of trainings[i].photoTrainings;">
            <img [src]="'data:image/jpg;base64,' + elem.photo" alt="photo">
            <br>
            <br>
            <div class="down-info">
              <h3>{{training.name}}</h3>
              <div class="bl">
                <span>{{training.briefly}}</span>
              </div>
              <hr>
              <div class="btn-training">
                <button type="button" class="btn btn-outline-secondary">заказть корпоративный тренинг
                </button>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>


    <!--<div [@up]="state" class="block-scroll">-->
    <!--<div class="scroll-up">-->
    <!--<button type="button" (click)="scrollUp()"><i class="fas fa-chevron-up"></i></button>-->
    <!--</div>-->
    <!--</div>-->


    <br/>
  </div>
</div>
