<app-admin-trainings></app-admin-trainings>


<div class="wrapper-admin">
  <ng-progress></ng-progress>
  <div *ngIf="doneSave" class="block-add-trainings-susses">
    <div class="alert alert-success" role="alert">
      <p>Training save</p>
    </div>
  </div>
  <div  *ngIf="done" class="add-container">
    <div class="block-add-trainings">
      <h4>Add training</h4>
      <div class="block-input">
        <input type="text" class="input-training" [(ngModel)]="trainings.name"  value="{{trainings.name}}" name="name" title="name">
      </div>
      <div class="error-input" *ngIf="orderError">
        <span>{{orderError.name}}</span>
      </div>

      <br>

      <div class="editor">
        <angular-editor [(ngModel)]="trainings.description" [config]="editorConfig"></angular-editor>
        <div class="html">
        </div>
        <div class="error-input" *ngIf="orderError">
          <span>{{orderError.description}}</span>
        </div>
        <br>
        <div class="group">
          <button class="btn btn-info" (click)="noClickAddTraining(trainings)" type="submit">Save</button>
        </div>
      </div>
    </div>

  </div>
</div>
