<app-admin-room-rental></app-admin-room-rental>

<div class="wrapper-admin">
  <div class="block-content-edit-article">
    <p>
      add article room: <span>{{nameRoom}}</span>
    </p>


    <div class="editor-room">
      <form name="form" [formGroup]="formGroup" (ngSubmit)="updateArticle()" novalidate>
        <div class="block-editor">
          <angular-editor formControlName="descriptionArticle"
                          [(ngModel)]="roomArticle.descriptionArticle" [config]="editorConfig"
                          title="description room article "></angular-editor>

          <div class="error-input" *ngIf="isSubmitted && f.descriptionArticle.errors">
            <div *ngIf="f.descriptionArticle.errors.required"><span>* fill in the field </span></div>
            <div *ngIf="f.descriptionArticle.errors.maxlength"><span>* 20000 символов </span></div>
          </div>
          <div class="error-input" *ngIf="roomError">
            <span>{{roomError.descriptionArticle}}</span>
          </div>
        </div>
        <div class="btn-update-article">
          <button type="button" class="btn btn-secondary" (click)="back()"> <i class="fas fa-chevron-left"></i>
             Back
          </button>
          <button class="btn btn-secondary">Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
