
.all-content {
  margin-right: 130px;
  margin-left: 130px;
}

.coach-header {
  width: 96%;
  margin: 0 auto;
  transition: all linear 0.3s;
  box-sizing: border-box;
}

//-------------------  Btn back----------------------------//
.btn-back {
  padding-bottom: 20px;
}

.btn {
  border-radius: 0;
}

//---------------------------------------------------------//

.white_bg {
  background-color: white;
}

.bl-block {
  display: flex;
  flex-direction: column;
}

.bl-w-info {
  display: flex;
  flex-direction: column;

}

.bl-w-info {
  position: relative;
  color: #ffffff;
  margin-top: -265px;
}

.name-w {
}

.bl-w-text p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 25px;
  text-indent: 0.8em;
  color: #ffffff;
  font-family: Fira_Mono, sans-serif, serif;
  font-weight: bold;
  background-color: rgba(1, 3, 7, 0.2);
  border-radius: 1px;
}

.bl-img {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);

}

.bl-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 100 0;

}

.bl-block-editor {
  margin: 50px;
}

.bl-t span {
  color: #23344d;
  font-weight: bold;
  font-family: Fira_Sans_Condensed_Light, serif;
}

.bl-w-price {
  display: flex;
  flex-direction: row;
}

.bl-w-price p {
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 0.8em;
  font-size: 20px;
}

.bl-w-price .date {
  font-weight: bold;
}

.bl-w-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bl-w-count p {
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 0.8em;
  font-size: 18px;
}

.bl-w-count span {
  color: #fc575e;
  font-weight: bold;
}

.bl-w-count-null {
  width: 100%;
  margin: 20px;
  background-color: rgba(1, 3, 7, 0.2);
  color: #ff424a;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: Fira_Sans_Condensed_Light, serif;
}

.webinar-description {
  font-family: Fira_Mono, sans-serif, serif;
  font-weight: bold;
  font-size: 25px;
}

.bl-block-editor {
  padding-top: 20px;
}

.webinar-tickets {
  width: 40%;
  font-family: Fira_Mono, sans-serif, serif;
  font-weight: bold;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.webinar-tickets span {
  color: #a85909;
}

/************* Table ******************/
.w-tab {
  margin-top: 100px;
}

table {
  text-align: left;
  line-height: 50px;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

}

table .table-title {
  font-size: 15px;
  font-family: 'KIA_KIAM', serif, sans-serif, serif;
}

tbody tr td {
  font-size: 15px;
}

thead tr:first-child {
  background: #ffffff;
  color: #2d2a39;
  border: none;
}

th:first-child,
td:first-child {
  //padding: 0 15px 0 10px;
}

th {
  font-weight: 500;
}

thead tr:last-child th {
  border-bottom: 0;
  text-align: center;
}

tbody tr:hover {
  cursor: default;
}

tbody tr:last-child td {
  border: none;
  text-align: center;
  background-color: #dad3e8;
}

.select-w {
  width: 50%;
  height: 30px;
  border-radius: 2px;
  text-indent: 0.6em;
  border: 1px solid #949494;
  font-family: 'KIA_KIAM', serif;
  font-size: 13px;
  color: #7a7a7a;

}

.w-zero {
  padding-top: 20px;
}

.price-w {
  color: #0f8b28;
  font-size: 20px;
  font-weight: bold;
}

.btn-buy {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.btn-outline-secondary:hover {
  color: #6c757d;
  border-color: #dad3e8;
  background-color: #dad3e8;
}

//------------------ EDITOR-------------------------------------------//

:host ::ng-deep #myEditor {
  .angular-editor-textarea {
    border: none;
  }

  .angular-editor-wrapper .angular-editor-textarea blockquote {
    margin: 0 0 0 0 !important;
  }

  #editor {
    resize: none;
  }

  .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    padding: 0 !important;
  }
}
