@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1180px;
  }

  .block-user {
    margin-left: 160px;
  }

}

@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
  }


}


